
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>

<div class="container-fluid" >
    <h2>Md.Habibur Rahman</h2>
    <p>Father`s name: Altaf Hossain Howlader</p>
    <p>Mother`s name: Khodeza Begum</p>
    <p>Address: 57 Kuril,Dhaka</p>
    <p>post code: 3713</p>
</div>