
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="container">
    <h4>E-health-care-system</h4><span>(Laravel)</span>
    <h4>E-health-care-system</h4><span>(React.js)</span>
    <h4>Agriculrature Management System</h4><span>(Php)</span>
    <h4>Resturant Management System</h4><span>(C#)</span>
</div>